*{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
html, body{
    height: 100%;
    margin: 0;
}/*Css del header con el background color la altura e anchuar y el flex para organizarlo*/
header{
    height: 170px;
    width: 100%;
    background-color: #4caf50;
    color: white;
    display: flex;
    justify-content: space-between;
}
/*Poner el texto del header en negrita*/
header>h1,h2{
    font-weight: bold;
}
/*Configuracion de la imagen del header*/
#Foto{
    width:150px;
    height:150px;
    margin: 10px;
}
/*tamaño que ocupa y organizacion del nav los articulos y el comparador*/
.Cuerpo{
    display: flex;
    flex-grow: 1;
    height: calc(100% - 250px);
}

/*CSS asociado al Nav*/
nav{
    background-color: #f0f0f0;
    width: 15%;
    align-content: center;
    padding-left: 9px;
    padding-bottom: 15px;
}
/*Los botones del nav*/
input{
    text-align: left;
    width: 80%;
    height: 56px;
    border: 5px solid black;
    margin: 2px;
}
/*Si clicas un boton se pondra en rojo*/
input:focus {
    background-color:red;
    font-weight: bold;
}
/**/

/*Todo el css de los articulos son los siguientes cuatro apartados*/
.Articulos{
    background-color: cyan;
    width: 55%;
}
.ConfiguracionArticulos{
    margin-left: 15px;
}
.ConfiguracionArticulos>p{
      font-size: 14px;
}
.ConfiguracionArticulos>h4{
    font-weight: bold;
}
/*Fin del CSS articulos*/

/*CSS del comparador con el background color su tamaño y las cajas de que tiene dentro*/
.Comparar{
    background-color: #faebd7;
    width: 30%;
}
.Comparar > h3{
    font-weight: bold;
    text-align: center;
}
.Comparar>h3:first-child{
    text-align: left;
    padding-left: 10px;
}
.Caja{
    padding: 7px;
    width: 300px;
    border: 1px solid lightgray;
    margin: 20px 15px;
}
/**/

/*CSS del footer*/
footer {
    width: 100%;
    height: 80px;
    background-color: #4caf50;
    text-align: center;
    align-content: center;
    color: white;
}
